<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>Lectures</h1>
        
    </div>

    

        <!-- LOCAL INFORMATION -->
        
            <div class="well text-center">
                <h3><span class="fa fa-user"></span> <%= user %></h3>

                
                
                <div>
                    <% for(var i=0; i<lectures.length; i++) { %>
                        <p style="color:<%=  lectures[i].pin%>">
                            <%= lectures[i].courseName %><br>
                                <%= lectures[i].date %><br>
                                <%=  lectures[i].pin%><br>
                                
                            
                        </p>
                    <% } %>
                 </div>
    
               

            </div>
        

        
        </div>
    

    

</div>
</body>
</html>
